$grayColor: #ccc;

.slogn {
  font-size: 72px;
}

#alert {
  padding: 10px;
}

form {
  div {
    border-bottom: 1px solid $grayColor;
    
    input {
      padding: 10px 20px;
      color: #222;
    }
  }

  button {
    padding: 10px 20px;
  }
}