.testimonials-section {
  margin-top: 130px!important;

  .inner-testimonials {
    h2{
      font-size: 40px;
      line-height: 56px;
      font-weight: 600;
      color: $main-color-font;
    }

    .testimonial-items-container {
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        width: none;
      }

      .testimonial-item {
        flex: 0 0 440px;
        background-color: $background-color;
        height: 180px;
        filter: drop-shadow(0px 0 10px rgba(66, 112, 236, 0.15));;
        border-radius: 20px;

        .testinomial-image {
          width: 80px;
          height: 80px;
          background: $text-color;
          flex: 0 0 auto;
        }

        p {
          font-size: 14px;
          line-height: 22px;
        }

        h3 {
          font-size: 14px;
          font-weight: 600;
          color: $main-color-font;

          span {
            font-size: 10px;

          }

        }
      }
    }
  }
}