$background-color: #fff;
$text-color: rgba(38, 34, 80, 0.6);
$main-color-font: rgba(38, 34, 80, 1);

$box-gradient: linear-gradient(48deg, #4158d0 0, #c850c0 43%, #ffcc70 100%);
$box-shadow: drop-shadow(21px 0 54px rgba(66, 112, 236, 0.2));

$gray: rgba(255,255,255,0.9)